# Ignore virtual environment
venv/

# Ignore environment variables file
.env

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore cache and log directories
__pycache__/
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore MacOS specific files
.DS_Store

# Ignore Linux specific files
*.swp

# Ignore test coverage results
htmlcov/
.coverage
.tox/

# Ignore node_modules directory for Node.js dependencies (if applicable)
node_modules/
